{% extends "base2.html" %}

{% block content %}

<div class="container">
  <div class="panel-content" style="margin-left:20%; margin-right:20%; margin-top:5%">
  <div class="col-md-8 col-sm-6 col-xs-12" style="width:95%;">
    <div class="row">
        <div class="col-sm-6 col-xs-12">
          <form action="/add-new" method="POST" style = "align:center">
            <div class="form-group">
            <br>
            <input id="name" class="form-control" type="text" name="name" value="" placeholder="Name"/>
            <br>
            <input id="title" class="form-control" type="text" name="title" value="" placeholder="Title"/>
            <br>
            <textarea id="blog_post" class="form-control" type="text-area" name="blog_post" value="" placeholder="Blog post content"></textarea>

          <input type="submit" class="btn btn-round btn-default" value="Post!" />

        </div>
        </form>
      </div>
      </div>
    </div>
      </div>
    </div>






{% endblock %}
